body{
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Arvo', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
ul, li{
    display: block;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 50px;
    margin-bottom: 58px;
}
h3{
    font-size: 25px;
    margin-bottom: 28px;
}
a{
    text-decoration: none;
}
section{
    padding-top: 113px;
}

.header{
    background: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;  
    padding-top: 57px;
    width: 100%;
    height: 100vh;
    
}

header a {
    color: white;
}
.logo{
    margin-right: 69px;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu li {
    margin-right: 40px;
}
.tel{
    font-size: 17px;
    text-decoration: none;
    margin-left: 500px;
    
}
.nav{
    display: flex;
    align-items: center;
}
.offer{
    text-transform: uppercase;
    margin-top: 216px;
}
.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
    color: white;
    transition: all 0.9s;
}
.offer p:hover{
    letter-spacing: 0.5em;
}
.offer h1{
    font-size: 85px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.1em;
    color: white; 
    font-family: 'Anton', sans-serif;
    transition: all 0.9s ;
}
.offer h1:hover{  
    letter-spacing: 0.5em;
}
.btn{
    display: block;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 240px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: #fff;
    color: black;
  
}
.description{
    display: flex;
    justify-content: space-between;
}
.description p{
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.63em;
    text-align: justify;

}
.desc-left, .desc-right{
    width: 567px;
}
.gallery{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}
.footer-text{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0;

}
.footer-text p{
    margin-right: 67px;
}